*.xnb
*.mgcontent
.vs
*.user
.vscode
packages/
FixXCDesktopContent.bat
.idea/
obj/
UpgradeLog.htm
*.pfx

Team6.CXDesktop/Content/Team6.UWP
Team6.CXDesktop/obj
Team6.CXDesktop/bin

Team6.UWP/project.lock.json
Team6.UWP/Content/bin
Team6.UWP/AppPackages
Team6.UWP/BundleArtifacts
Team6.UWP/Team6.UWP.nuget.props
Team6.UWP/bin
Team6.UWP/obj
Team6.UWP.userprefs

Tooling/GenerateMonoSpriteFonts/bin
Tooling/GenerateMonoSpriteFonts/obj
Tooling/GenerateMonoSpriteFonts/.vs
Tooling/GenerateMonoSpriteFonts.StandardNet/bin
Tooling/GenerateMonoSpriteFonts.StandardNet/obj
Tooling/GenerateMonoSpriteFonts/packages

